In [1]:
import pandas as pd

In [2]:
d0 = {2:'a', 1:'b', 3:'c'}

In [3]:
# Converting d0 to a corresponding pandas object pd0

pd0 = pd.Series(d0)

In [4]:
pd0

2    a
1    b
3    c
dtype: object

In [5]:
# Sort indices of pd0

pd0 = pd0.sort_index()

In [6]:
pd0

1    b
2    a
3    c
dtype: object

In [7]:
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}

In [8]:
# Converting d1 and d2 to a pandas object dd

dd = pd.DataFrame({'d1': d1, 'd2': d2})

In [9]:
dd

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [10]:
# Examples of indexing and slicing on dd:

dd['d1']

a    1.0
b    2.0
c    NaN
Name: d1, dtype: float64

In [11]:
dd['d2']

a    NaN
b    3.0
c    4.0
Name: d2, dtype: float64

In [12]:
# Using label-based indexing
slice_label = dd.loc['b':'c']

# Using integer-based indexing
slice_integer = dd.iloc[0:2]

In [13]:
slice_label

    d1   d2
b  2.0  3.0
c  NaN  4.0

In [14]:
slice_integer

    d1   d2
a  1.0  NaN
b  2.0  3.0

In [15]:
# Implicit indexing (by label):


dd.at['b', 'd1']

2.0

In [16]:
dd.at['c', 'd2']

4.0

In [17]:
# Explicit indexing (by integer position):


dd.iat[1, 0]  # 'b' is in the second row and first column

2.0

In [18]:
dd.iat[1, 1]  # 'c' is in the second row and second column

3.0

In [19]:
# Forward fill and backfill examples
dd_ffill_rows = dd.ffill(axis=0)  # Forward fill along rows
dd_bfill_rows = dd.bfill(axis=0)  # Backfill along rows
dd_ffill_columns = dd.ffill(axis=1)  # Forward fill along columns
dd_bfill_columns = dd.bfill(axis=1)  # Backfill along columns

In [20]:
dd_ffill_rows

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  2.0  4.0

In [21]:
dd_bfill_rows

    d1   d2
a  1.0  3.0
b  2.0  3.0
c  NaN  4.0

In [22]:
dd_ffill_columns

    d1   d2
a  1.0  1.0
b  2.0  3.0
c  NaN  4.0

In [23]:
dd_bfill_columns

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  4.0  4.0